STRAPI_URL=
STRAPI_API_TOKEN=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_URI=
MONGO_DB=
MONGO_HARO_DB=
NODE_ENV=development
JWT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
N8N_LOGIN_WEBHOOK_URL=
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
